/* ------------------------------------------------------------------------- *
 *  Global Color
/* ------------------------------------------------------------------------- */
@light-1: #fff;
@light-2: #f9f9f9;
@light-3: #f5f5f5;
@light-4: #f2f2f2; //Tag hover link
@light-5: #f1f1f1; // Fondo de formularios
@light-6: #eee; //Horizontal lines articles & footer
@light-7: #ebebeb;
@light-8: #e9e9e9;
@light-9: #e4e4e4; //Bottom lines links sidebar
@light-10: #e2e2e2; //Calendar lines

@grey-1: #bbb; //Color de Fecha
@grey-2: #aaa; //Texto Home Page
@grey-3: #ddd;
@grey-4: #ccc;
@grey-5: #888;
@grey-6: #999; //Link Tag & Footer Menu
@grey-7: #777;
@grey-8: #666;

@dark-1: #444;
@dark-2: #383838;
@dark-3: #333;
@dark-4: #262626;
@dark-5: #212; //Start articles
@dark-6: #111;
@dark-7: #000;

/* ------------------------------------------------------------------------- *
*  Auxiliar Color
/* ------------------------------------------------------------------------- */
@yellow-0: #fff486;
@green: #83ad02;

/* ------------------------------------------------------------------------- *
 *  Layout Color
/* ------------------------------------------------------------------------- */
@sidebar-1: #141a41;
@sidebar-2: #ed3331; //#CA1010;

@navbar: #141a41; //#0B1658;
@header: #2b3990; //And footer

@bg-1: #EAEAEA;
@bg-2: #bdc3c7;

/* ------------------------------------------------------------------------- *
 *  Social Media
/* ------------------------------------------------------------------------- */
@twitter: #00acee;
@facebook: #3b5999;
@googleplus: #cd483c;
@pinterest: #ca2128;

/* ------------------------------------------------------------------------- *
 *  Mensajes Formularios
/* ------------------------------------------------------------------------- */
@message-1: #f2dede;
@message-2: #e3bfbf;
@message-3: #b94a48;