/*
Theme Name: Hueman
Version: 2.1.7
Description: Hueman es un tema de alta resolución 100% responsivo para blogs y revistas.
Author: Benito Anagua
Tags: Flat Responsive
*/
/* ------------------------------------------------------------------------- *
 *  Global Color
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- *
*  Auxiliar Color
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- *
 *  Layout Color
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- *
 *  Social Media
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- *
 *  Mensajes Formularios
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- *
 *  Reset - http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126
 * ------------------------------------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ------------------------------------------------------------------------- *
 *  Base Styles
/* ------------------------------------------------------------------------- */
body {
  background: #eaeaea;
  font-size: 16px;
  line-height: 1.5em;
  color: #666666;
  font-weight: 300;
}
::selection {
  background: #141a41;
  color: #ffffff;
}
::-moz-selection {
  background: #141a41;
  color: #ffffff;
}
a {
  color: #141a41;
  text-decoration: none;
  outline: 0;
}
a:hover {
  color: #444444;
}
img {
  max-width: 100%;
  height: auto;
}
a,
a:before,
a:after {
  -webkit-transition-property: background color;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  -moz-transition-property: background color;
  -moz-transition-duration: 0.2s;
  -moz-transition-timing-function: ease;
  -o-transition-property: background color;
  -o-transition-duration: 0.2s;
  -o-transition-timing-function: ease;
  transition-property: background color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}
a img {
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
address,
cite,
em {
  font-style: italic;
}
strong {
  font-weight: 600;
}
.left,
.alignleft {
  float: left;
}
.right,
.alignright {
  float: right;
}
.aligncenter {
  margin-left: auto;
  margin-right: auto;
}
/*  base : clear
/* ------------------------------------ */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
}
/*  base : font awesome square size
/* ------------------------------------ */
.fa {
  width: 1em;
  text-align: center;
}
/*  base : fonts
/* ------------------------------------ */
body {
  font-family: "Titillium", Arial, sans-serif;
}
@font-face {
  font-family: 'Titillium';
  src: url('fonts/titillium-light-webfont.eot');
  src: url('fonts/titillium-light-webfont.svg#titillium-light-webfont') format('svg'), url('fonts/titillium-light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/titillium-light-webfont.woff') format('woff'), url('fonts/titillium-light-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Titillium';
  src: url('fonts/titillium-lightitalic-webfont.eot');
  src: url('fonts/titillium-lightitalic-webfont.svg#titillium-lightitalic-webfont') format('svg'), url('fonts/titillium-lightitalic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/titillium-lightitalic-webfont.woff') format('woff'), url('fonts/titillium-lightitalic-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Titillium';
  src: url('fonts/titillium-regular-webfont.eot');
  src: url('fonts/titillium-regular-webfont.svg#titillium-regular-webfont') format('svg'), url('fonts/titillium-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/titillium-regular-webfont.woff') format('woff'), url('fonts/titillium-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Titillium';
  src: url('fonts/titillium-regularitalic-webfont.eot');
  src: url('fonts/titillium-regularitalic-webfont.svg#titillium-regular-webfont') format('svg'), url('fonts/titillium-regularitalic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/titillium-regularitalic-webfont.woff') format('woff'), url('fonts/titillium-regularitalic-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Titillium';
  src: url('fonts/titillium-semibold-webfont.eot');
  src: url('fonts/titillium-semibold-webfont.svg#titillium-semibold-webfont') format('svg'), url('fonts/titillium-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/titillium-semibold-webfont.woff') format('woff'), url('fonts/titillium-semibold-webfont.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
/*  base : forms
/* ------------------------------------ */
input,
textarea,
button,
select,
label {
  font-family: inherit;
}
.themeform input,
.themeform textarea,
.themeform button,
.themeform select,
.themeform label {
  font-size: 14px;
}
.themeform input::-moz-focus-inner,
.themeform button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.themeform input[type="text"],
.themeform input[type="password"],
.themeform input[type="email"],
.themeform input[type="submit"],
.themeform button,
.themeform textarea {
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.themeform input,
.themeform textarea,
.themeform button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-transition: all .2s ease;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.themeform input[type="checkbox"] {
  -moz-appearance: checkbox;
  -webkit-appearance: checkbox;
}
.themeform input[type="radio"] {
  -moz-appearance: radio;
  -webkit-appearance: radio;
}
.themeform label {
  font-weight: 600;
  color: #444444;
}
.themeform input[type="text"],
.themeform input[type="password"],
.themeform input[type="email"],
.themeform textarea {
  background: #ffffff;
  border: 2px solid #dddddd;
  color: #777777;
  display: block;
  max-width: 100%;
  outline: none;
  padding: 7px 8px;
}
.themeform input[type="text"]:focus,
.themeform input[type="password"]:focus,
.themeform input[type="email"]:focus,
.themeform textarea:focus {
  border-color: #cccccc;
  color: #444444;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.themeform label .required {
  color: #141a41;
}
.themeform input[type="submit"],
.themeform button[type="submit"] {
  background: #141a41;
  color: #ffffff;
  padding: 8px 14px;
  font-weight: 600;
  display: inline-block;
  border: none;
  cursor: pointer;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.themeform input[type="submit"]:hover,
.themeform button[type="submit"]:hover {
  background: #444444;
}
.themeform.searchform div {
  position: relative;
}
.themeform.searchform div input {
  padding-left: 26px;
  line-height: 20px;
}
.themeform.searchform div:after {
  color: #cccccc;
  line-height: 24px;
  font-size: 14px;
  content: "\f002";
  position: absolute;
  left: 10px;
  top: 6px;
  font-family: FontAwesome;
}
/*  base : entry
/* ------------------------------------ */
.entry {
  font-size: 18px;
  line-height: 1.6em;
}
.entry p,
.entry dd {
  margin-bottom: 1em;
}
.entry dt {
  color: #444444;
}
.entry ol,
.entry ul {
  margin: 0 0 15px 30px;
}
.entry ol ol,
.entry ol ul,
.entry ul ul,
.entry ul ol {
  margin-bottom: 0;
}
.entry li {
  margin: 0;
}
.entry ul li,
.entry ol ul li {
  list-style: square;
}
.entry ol li,
.entry ol ul ol li {
  list-style: decimal;
}
.entry dt {
  font-weight: 600;
}
.entry address {
  margin-bottom: 1em;
}
.entry blockquote {
  position: relative;
  color: #777777;
  font-style: italic;
  margin: 0 0 20px 0;
  padding-left: 50px;
}
.entry blockquote p {
  margin-bottom: 0.75em;
}
.entry blockquote:before {
  content: "\f10d";
  color: #cccccc;
  font-size: 32px;
  font-style: normal;
  font-family: FontAwesome;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
}
.entry blockquote.twitter-tweet:before {
  content: "\f099";
}
.entry code,
.entry pre {
  font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  font-size: 11px;
}
.entry pre {
  background: url(img/pre.png) repeat top;
  padding: 18px 20px;
  margin: 30px 0;
  border: 1px solid #dddddd;
  line-height: 19px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-x: auto;
  overflow-y: hidden;
}
.entry code {
  background: #eeeeee;
  padding: 0 3px;
}
.entry ins {
  background: #fff486;
}
.entry sub,
.entry sup {
  font-size: 62.5%;
}
.entry sub {
  vertical-align: sub;
}
.entry sup {
  vertical-align: super;
}
/* image position & caption */
.entry img.size-auto,
.entry img.size-large,
.entry img.size-medium,
.entry attachment img {
  max-width: 100%;
  height: auto;
}
.entry img.alignleft {
  margin: 18px 20px 18px 0;
}
.entry img.alignright {
  margin: 18px 0 18px 20px;
}
.entry img.aligncenter {
  margin: 18px auto;
  clear: both;
  display: block;
}
.entry img .size-full {
  width: 100%!important;
}
.entry .gallery img,
.entry img.wp-smiley {
  margin: 0;
}
.entry .wp-caption {
  background: #f1f1f1;
  max-width: 100%;
  margin-bottom: 14px;
  padding-top: 5px;
  text-align: center;
}
.entry .wp-caption-text {
  font-style: italic;
}
.entry .wp-caption a {
  border-bottom: none;
}
.entry .wp-caption img {
  margin: 0;
  max-width: 100%;
  height: auto;
}
.entry .wp-caption.alignleft {
  margin-right: 20px;
}
.entry .wp-caption.alignright {
  margin-left: 20px;
}
.entry .wp-caption.alignnone {
  width: 100%!important;
  overflow: hidden;
}
.entry .wp-caption.alignnone img {
  margin: 0 auto;
  max-width: 100%!important;
}
.entry .wp-caption-text {
  color: #999999;
  font-size: 13px;
  padding: 0 0 8px 0;
  margin: 0;
}
/* table */
.entry table {
  font-size: 14px;
  margin-bottom: 1.5em;
  width: 100%;
  text-align: center;
}
.entry table tr.alt {
  background: #f1f1f1;
}
.entry table td {
  border-bottom: 1px solid #f1f1f1;
  text-align: center;
  padding: 5px;
  vertical-align: middle;
}
.entry table th {
  font-weight: 600;
  text-align: center;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  padding: 10px 5px;
}
/* default gallery */
.entry .gallery {
  clear: both;
  overflow: hidden;
  width: 100%;
  margin: 15px 0!important;
}
.entry .gallery img {
  display: block;
  width: 100%;
  height: auto;
  border-width: 1px 2px!important;
  border-color: transparent!important;
}
.entry .gallery .gallery-item {
  position: relative;
  overflow: hidden;
  border-color: transparent;
  margin-top: 0!important;
}
.entry .gallery .gallery-caption {
  background: rgba(255, 255, 255, 0.8);
  color: #333333;
  font-size: 13px;
  line-height: 1.4em;
  padding: 10px 0;
  text-align: left;
  text-indent: 10px;
  font-style: normal;
  margin: 0;
  bottom: -44px;
  left: 2px;
  right: 2px;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  transition: all .2s ease;
  -o-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -webkit-transition: all .2s ease;
}
.entry .gallery .gallery-item:hover .gallery-caption {
  bottom: 0;
}
.entry .gallery-columns-5 .gallery-caption,
.entry .gallery-columns-6 .gallery-caption,
.entry .gallery-columns-7 .gallery-caption,
.entry .gallery-columns-8 .gallery-caption,
.entry .gallery-columns-9 .gallery-caption {
  display: none!important;
}
/*  base : headings
/* ------------------------------------ */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
  font-weight: 600;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.entry h1 span,
.entry h2 span,
.entry h3 span,
.entry h4 span,
.entry h5 span,
.entry h6 span {
  color: #bbbbbb;
}
.entry h1,
.entry h2,
.entry h3,
.entry h4,
.entry h5,
.entry h6 {
  margin-bottom: 14px;
  font-weight: 400;
  line-height: 1.3em;
}
.entry h1 {
  font-size: 38px;
  letter-spacing: -1px;
}
.entry h2 {
  font-size: 34px;
  letter-spacing: -0.7px;
}
.entry h3 {
  font-size: 28px;
  letter-spacing: -0.5px;
}
.entry h4 {
  font-size: 24px;
  letter-spacing: -0.3px;
}
.entry h5 {
  font-size: 20px;
  font-weight: 600;
}
.entry h6 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}
.heading,
#reply-title {
  font-weight: normal;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1em;
}
.heading i {
  font-size: 22px;
  margin-right: 6px;
}
/* ------------------------------------------------------------------------- *
 *  Base Structure
/* ------------------------------------------------------------------------- */
/*  base : layout
/* ------------------------------------ */
#wrapper {
  min-width: 1024px;
  height: 100%;
}
.container {
  padding: 0 20px;
}
.container-inner {
  max-width: 1380px;
  min-width: 1380px;
  width: 100%;
  margin: 0 auto;
}
.main {
  background-color: #ffffff !important;
  position: relative;
}
.main-inner {
  position: relative;
  min-height: 600px;
  /* instead of sticky footer */
}
.content {
  width: 100%;
  position: relative;
}
.pad {
  padding: 30px 30px 20px;
}
/* boxed */
.boxed #wrapper {
  max-width: 1380px;
  margin: 0 auto;
  -webkit-box-shadow: 6px 0 0 rgba(0, 0, 0, 0.04), -6px 0 0 rgba(0, 0, 0, 0.04);
  box-shadow: 6px 0 0 rgba(0, 0, 0, 0.04), -6px 0 0 rgba(0, 0, 0, 0.04);
}
.boxed .container {
  padding: 0;
}
.boxed #page {
  background: #eaeaea;
  padding-bottom: 1px;
}
/*  base : layout columns
/* ------------------------------------ */
/* 2 column, content left */
.col-2cl .main-inner {
  background: url(img/sidebar/s-right-s1.png) repeat-y right 0;
  padding-right: 340px;
}
.col-2cl .s1 {
  float: right;
  margin-right: -340px;
}
.col-2cl .content {
  float: left;
}
/* 2 column, content right */
.col-2cr .main-inner {
  background: url(img/sidebar/s-left.png) repeat-y left 0;
  padding-left: 340px;
}
.col-2cr .s1 {
  float: left;
  margin-left: -340px;
}
.col-2cr .content {
  float: right;
}
/* 3 column, content middle */
.col-3cm .main {
  background: url(img/sidebar/s-right-s2.png) repeat-y right 0;
}
.col-3cm .main-inner {
  background: url(img/sidebar/s-left.png) repeat-y left 0;
  padding-left: 340px;
  padding-right: 260px;
}
.col-3cm .s1 {
  float: left;
  margin-left: -340px;
}
.col-3cm .s2 {
  float: right;
  margin-right: -260px;
  /* ingenuity! */
  position: relative;
  right: -100%;
}
.col-3cm .content {
  float: right;
}
/* 3 column, content left */
.col-3cl .main {
  background-image: none;
}
.col-3cl .main-inner {
  background: url(img/sidebar/s-right-dual-full-expand.png) repeat-y right 0;
  padding-right: 600px;
}
.col-3cl .s1 {
  float: right;
  margin-right: -600px;
}
.col-3cl .s2 {
  float: right;
  margin-right: -260px;
}
.col-3cl .content {
  float: left;
}
/* 3 column, content right */
.col-3cr .main {
  background-image: none;
}
.col-3cr .main-inner {
  background: url(img/sidebar/s-left-dual-full-expand.png) repeat-y left 0;
  padding-left: 600px;
}
.col-3cr .s1 {
  float: left;
  margin-left: -600px;
}
.col-3cr .s2 {
  float: left;
  margin-left: -260px;
}
.col-3cr .content {
  float: right;
}
/*  base : sidebar
/* ------------------------------------ */
.sidebar {
  padding-bottom: 20px;
  position: relative;
  z-index: 2;
}
.sidebar .pad {
  padding-left: 20px;
  padding-right: 20px;
}
.sidebar-top {
  padding: 15px 30px;
}
.sidebar-top p {
  float: left;
  color: #ffffff;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 24px;
  padding: 3px 0;
}
.sidebar-toggle {
  display: none;
  text-align: center;
  cursor: pointer;
  width: 100%;
  height: 50px;
  -webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.1);
}
.sidebar-toggle i {
  font-size: 38px;
  color: #ffffff;
  padding: 5px 0;
}
.s1-expand .s1,
.s2-expand .s2 {
  -moz-transition: width .2s ease;
  -webkit-transition: width .2s ease;
  transition: width .2s ease;
}
/* toggle icon */
.icon-sidebar-toggle:before {
  font-family: FontAwesome;
}
.col-2cl .s1 .icon-sidebar-toggle:before,
.col-3cl .s1 .icon-sidebar-toggle:before,
.col-3cm .s2 .icon-sidebar-toggle:before,
.col-3cl .s2 .icon-sidebar-toggle:before {
  content: "\f100";
}
.col-2cr .s1 .icon-sidebar-toggle:before,
.col-3cm .s1 .icon-sidebar-toggle:before,
.col-3cr .s1 .icon-sidebar-toggle:before,
.col-3cr .s2 .icon-sidebar-toggle:before {
  content: "\f101";
}
/* sidebar primary */
.s1 {
  width: 340px;
  z-index: 2;
}
.s1:hover {
  z-index: 98;
  /* social icons tooltip above header nav */
}
.s1 .sidebar-top,
.s1 .sidebar-toggle {
  background: #141a41;
}
@media only screen and (min-width: 479px) and (max-width: 960px) {
  .s1 .sidebar-top {
    background: none!important;
    border-bottom: 1px solid #dddddd;
  }
  .s1 .sidebar-top p {
    color: #666666;
  }
  .s1 .sidebar-top .social-links .social-tooltip {
    color: #666666;
  }
}
/* sidebar secondary */
.s2 {
  width: 260px;
  z-index: 1;
}
.s2 .sidebar-top,
.s2 .sidebar-toggle {
  background: #ed3331;
}
@media only screen and (min-width: 479px) and (max-width: 1200px) {
  .s2 .sidebar-top {
    background: none!important;
    border-bottom: 1px solid #dddddd;
  }
  .s2 .sidebar-top p {
    color: #666666;
  }
}
/*  base : grid
/* ------------------------------------ */
.grid {
  margin-right: 3.2%;
  float: left;
  display: inline;
  position: relative;
}
.last {
  clear: right;
  margin-right: 0!important;
}
.one-full {
  margin-right: 0;
  width: 100%;
  overflow: hidden;
}
.one-half {
  width: 48.4%;
}
.one-third {
  width: 31.2%;
}
.two-third {
  width: 65.6%;
}
.one-fourth {
  width: 22.6%;
}
.three-fourth {
  width: 74.2%;
}
.one-fifth {
  width: 17.4%;
}
.two-fifth {
  width: 38.1%;
}
.three-fifth {
  width: 58.7%;
}
.four-fifth {
  width: 79.4%;
}
/* ------------------------------------------------------------------------- *
 *  Common Elements
/* ------------------------------------------------------------------------- */
/*  common : responsive videos
/* ------------------------------------ */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed,
.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*  common : responsive image + caption
/* ------------------------------------ */
.image-container {
  position: relative;
}
.image-container img {
  display: block;
  width: 100%;
  height: auto;
}
.image-caption {
  background: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  font-size: 13px;
  line-height: 1.3em;
  font-style: italic;
  padding: 8px 10px;
  position: absolute;
  bottom: 8px;
  left: 8px;
  margin-right: 8px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.4), 0 1px 0 rgba(255, 255, 255, 0.03);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.4), 0 1px 0 rgba(255, 255, 255, 0.03);
}
/*  common : social links
/* ------------------------------------ */
.social-links {
  float: right;
  position: relative;
  padding-top: 2px;
}
.social-links li {
  display: inline-block;
  margin-left: 8px;
  line-height: 16px;
  font-size: 0;
}
.social-links li a {
  display: block!important;
  position: relative;
  text-align: center;
}
.social-links .social-tooltip {
  color: #ffffff;
  color: rgba(255, 255, 255, 0.7);
  font-size: 24px;
  display: inline;
  position: relative;
  z-index: 98;
}
.social-links .social-tooltip:hover {
  color: #ffffff;
  text-decoration: none;
}
.social-links .social-tooltip:hover:after {
  top: -36px;
  background: #ffffff;
  font-size: 14px;
  color: #666666;
  content: attr(title);
  display: block;
  right: 0;
  padding: 5px 15px;
  position: absolute;
  white-space: nowrap;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.social-links .social-tooltip:hover:before {
  top: -10px;
  right: 8px;
  border: solid;
  border-color: #ffffff transparent;
  border-width: 5px 5px 0 5px;
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
}
/*  common : page title
/* ------------------------------------ */
.page-title {
  background: #ffffff;
  position: relative;
  padding-top: 18px;
  padding-bottom: 17px;
  border-bottom: 1px solid #eeeeee;
  color: #666666;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 24px;
}
.page-title a {
  color: #aaaaaa;
}
.page-title a:hover {
  color: #444444;
}
.page-title span {
  color: #aaaaaa;
}
.page-title i {
  margin-right: 8px;
}
.page-title h1,
.page-title h2,
.page-title h4 {
  color: #666666;
}
.page-title .meta-single li {
  float: left;
  margin-right: 14px;
}
.page-title .meta-single li.comments {
  float: right;
  margin-right: 0;
}
/*  common : notebox
/* ------------------------------------ */
.notebox {
  background: #bdc3c7;
  position: relative;
  padding: 12px 15px;
  color: #888888;
  margin-bottom: 30px;
}
.notebox:before {
  content: '';
  display: inline-block;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #f1f1f1;
  position: absolute;
  top: -8px;
  left: 13px;
}
.notebox:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #f1f1f1;
  position: absolute;
  top: -5px;
  left: 15px;
}
.notebox span {
  font-weight: 600;
}
.notebox .search-again {
  margin-top: 10px;
}
.notebox input[type="text"] {
  width: 100%;
}
/*  common : page image
/* ------------------------------------ */
.page-image {
  overflow: hidden;
  position: relative;
  margin: 0 0 30px 0;
}
.page-image-text {
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 100%;
  text-align: center;
}
.page-image-text .caption {
  color: #ffffff;
  font-size: 44px;
  line-height: 70px;
  text-transform: uppercase;
  font-weight: 600;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.page-image-text .description {
  display: block;
  color: #ffffff;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
}
.page-image-text .description i {
  background: rgba(0, 0, 0, 0.7);
  opacity: 0.9;
  font-style: normal;
  padding: 6px 10px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/*  common : pagination
/* ------------------------------------ */
.pagination {
  margin-bottom: 15px;
}
.pagination a {
  font-size: 18px;
  font-weight: 600;
}
/*  common : thumb icon
/* ------------------------------------ */
.thumb-icon {
  background: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  text-align: center;
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.4);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.thumb-icon i {
  font-size: 18px;
  padding: 7px 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.thumb-icon .fa-play {
  margin: -1px 0 0 2px;
}
.thumb-icon.small {
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: 14px;
  left: 14px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.thumb-icon.small .fa {
  font-size: 14px;
  line-height: 16px;
  padding: 5px 0;
}
.thumb-icon.small .f-play {
  margin: -1px 0 0 2px;
}
/*  common : nav
/* ------------------------------------ */
.nav-container {
  background: #888888;
  z-index: 99;
  position: relative;
}
.nav-toggle {
  display: none;
  background: #777777;
  cursor: pointer;
  float: right;
  height: 50px;
  width: 60px;
  color: #ffffff;
  text-align: center;
}
.nav-toggle i {
  font-size: 29px;
  padding: 10px 0;
}
.nav-text {
  display: none;
  float: right;
  font-size: 16px;
  line-height: 24px;
  padding: 13px 20px;
}
.nav li > a:after,
.nav > li > a:after {
  font-family: FontAwesome;
  display: inline-block;
}
@media only screen and (min-width: 720px) {
  .nav-wrap {
    height: auto!important;
  }
  /* common */
  .nav {
    font-size: 0;
    position: relative;
  }
  .nav li a {
    color: #cccccc;
    display: block;
    line-height: 20px;
  }
  /* dropdown arrows */
  .nav li > a:after {
    content: "\f0da";
    float: right;
    opacity: 0.5;
  }
  .nav > li > a:after {
    content: "\f0d7";
    float: none;
    margin-left: 6px;
    font-size: 14px;
  }
  .nav li > a:only-child:after {
    content: "";
    margin: 0;
  }
  #footer .nav li > a:after {
    content: "\f0da";
  }
  #footer .nav > li > a:after {
    content: "\f0d8";
  }
  #footer .nav li > a:only-child:after {
    content: "";
  }
  /* level 1 */
  .nav > li {
    font-size: 16px;
    border-right: 1px solid #999999;
    display: inline-block;
    position: relative;
  }
  .nav > li > a {
    padding: 15px 14px;
  }
  .nav > li > a:hover,
  .nav > li:hover > a {
    background: #777777;
  }
  .nav li > a:hover,
  .nav li:hover > a,
  .nav li.current_page_item > a,
  .nav li.current-menu-item > a,
  .nav li.current-menu-ancestor > a,
  .nav li.current-post-parent > a {
    color: #ffffff;
  }
  /* level 2 & 3 */
  .nav li:hover > ul {
    display: block;
  }
  .nav ul {
    display: none;
    background: #777777;
    position: absolute;
    left: 0;
    top: 50px;
    width: 180px;
    padding: 10px 0;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  }
  .nav ul li {
    font-size: 14px;
    position: relative;
    display: block;
    padding: 0;
  }
  .nav ul li a {
    padding: 10px 20px;
  }
  .nav ul li:last-child {
    border-bottom: 0!important;
  }
  /* level 3 */
  .nav ul ul {
    position: absolute;
    top: -10px;
    left: 180px;
  }
}
@media only screen and (max-width: 719px) {
  .nav {
    font-weight: 600;
  }
  .nav-container {
    text-transform: none;
  }
  .nav-toggle,
  .nav-text {
    display: block;
  }
  .nav-wrap {
    position: relative;
    float: left;
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  .nav-wrap.transition {
    -webkit-transition: height 0.35s ease;
    -moz-transition: height 0.35s ease;
    -o-transition: height 0.35s ease;
    transition: height 0.35s ease;
  }
  .expand .nav-wrap {
    height: auto;
  }
  /* common */
  .nav {
    float: left;
    width: 100%;
  }
  .nav li a {
    line-height: 20px;
    display: block;
    padding: 8px 20px;
  }
  .nav li li a {
    padding-left: 15px;
    padding-right: 15px;
  }
  /* dropdown arrows */
  .nav li > a:after {
    content: '\f0d7';
    opacity: 0.5;
    margin-left: 6px;
  }
  .nav > li > a:after {
    content: '\f0d7';
    font-size: 14px;
  }
  .nav li > a:only-child:after {
    content: '';
  }
  /* level 1 */
  .nav > li {
    font-size: 15px;
  }
  .nav li > a:hover,
  .nav li.current_page_item > a,
  .nav li.current-menu-item > a,
  .nav li.current-post-parent > a {
    color: #ffffff;
  }
  /* level 2 & 3 */
  .nav ul {
    display: block!important;
    margin-left: 40px;
  }
  .nav ul li {
    font-size: 13px;
    font-weight: 300;
  }
  .nav ul li a {
    padding-top: 6px;
    padding-bottom: 6px;
  }
}
/* ------------------------------------------------------------------------- *
 *  Section: Header
/* ------------------------------------------------------------------------- */
#header {
  background: #2b3990;
  position: relative;
  padding-bottom: 60px;
}
#header .pad {
  padding-top: 28px;
  padding-bottom: 30px;
}
#header .container-inner {
  position: relative;
}
.site-title {
  font-size: 42px;
  font-weight: 600;
  letter-spacing: -0.5px;
  float: left;
  line-height: 60px;
  padding: 10px 0;
}
.site-title a {
  display: block;
  color: #ffffff;
  max-width: 100%;
}
.site-title a img {
  display: block;
  max-width: 100%;
  max-height: 60px;
  height: auto;
  padding: 0;
  margin: 0 auto;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.site-description {
  font-size: 16px;
  font-style: italic;
  color: #ffffff;
  color: rgba(255, 255, 255, 0.5);
  float: left;
  margin-left: 20px;
  line-height: 60px;
  padding: 10px 0;
}
.site-image {
  display: block;
  margin: 0 auto;
  max-height: 400px;
}
/*  header : search
/* ------------------------------------ */
.toggle-search {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  padding: 13px 20px;
  display: block;
  position: absolute;
  right: 0;
  top: -50px;
  -webkit-box-shadow: -1px 0 0 rgba(255, 255, 255, 0.1);
  box-shadow: -1px 0 0 rgba(255, 255, 255, 0.1);
}
.toggle-search:hover,
.toggle-search.active {
  background: rgba(0, 0, 0, 0.15);
  color: #ffffff;
}
.search-expand {
  display: none;
  background: #141a41;
  position: absolute;
  top: 0;
  right: 0;
  width: 340px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
}
.search-expand-inner {
  background: rgba(0, 0, 0, 0.15);
  padding: 15px;
}
.search-expand .themeform input {
  width: 100%;
  border: 2px solid #e2e2e2;
  border-radius: 0;
}
/*  header : nav topbar
/* ------------------------------------ */
#nav-topbar.nav-container {
  background: #141a41;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.15);
}
#nav-topbar .nav-toggle {
  background: transparent;
  color: #ffffff;
  -webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.06);
  box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.06);
}
#nav-topbar .nav-text {
  color: #ffffff;
  color: rgba(255, 255, 255, 0.7);
}
@media only screen and (min-width: 1025px) {
  /* fixed nav */
  .full-width.topbar-enabled #header {
    padding-top: 50px;
  }
  .full-width #nav-topbar.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
  }
  .full-width.admin-bar #nav-topbar.nav-container {
    top: 32px;
  }
}
@media only screen and (min-width: 720px) {
  /* common */
  #nav-topbar .nav li a {
    color: #ffffff;
    color: rgba(255, 255, 255, 0.7);
  }
  /* level 1 */
  #nav-topbar .nav > li {
    border-right: none;
  }
  #nav-topbar .nav > li > a:hover,
  #nav-topbar .nav > li:hover > a {
    background-color: rgba(0, 0, 0, 0.1);
  }
  #nav-topbar .nav li > a:hover,
  #nav-topbar .nav li:hover > a,
  #nav-topbar .nav li.current_page_item > a,
  #nav-topbar .nav li.current-menu-item > a,
  #nav-topbar .nav li.current-menu-ancestor > a,
  #nav-topbar .nav li.current-post-parent > a {
    color: #ffffff;
  }
  /* level 2 & 3 */
  #nav-topbar .nav ul {
    background: #141a41 url(img/opacity-10.png) repeat;
  }
  #nav-topbar .nav ul li {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.06);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.06);
  }
  #nav-topbar .nav ul li:last-child {
    box-shadow: none;
    -webkit-box-shadow: none;
  }
}
@media only screen and (max-width: 719px) {
  /* common */
  #nav-topbar .nav li a {
    color: #ffffff;
    color: rgba(255, 255, 255, 0.8);
    border-top: 1px solid rgba(255, 255, 255, 0.06);
  }
  /* level 1 */
  #nav-topbar .nav li > a:hover {
    background: rgba(0, 0, 0, 0.15);
    color: #ffffff;
  }
  #nav-topbar .nav li.current_page_item > a,
  #nav-topbar .nav li.current-menu-item > a,
  #nav-topbar .nav li.current-post-parent > a {
    background: rgba(0, 0, 0, 0.15);
    color: #ffffff;
  }
}
/*  header : nav header
/* ------------------------------------ */
#nav-header.nav-container {
  background: transparent;
  z-index: 97;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05), 0 -1px 0 rgba(0, 0, 0, 0.2), inset 1px 0 0 rgba(0, 0, 0, 0.2), inset -1px 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05), 0 -1px 0 rgba(0, 0, 0, 0.2), inset 1px 0 0 rgba(0, 0, 0, 0.2), inset -1px 0 0 rgba(0, 0, 0, 0.2);
}
#nav-header .container {
  padding: 0 15px;
}
#nav-header .nav-toggle {
  background: transparent;
  color: #ffffff;
  -webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.05), -1px 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.05), -1px 0 0 rgba(0, 0, 0, 0.2);
}
#nav-header .nav-text {
  color: #ffffff;
  color: rgba(255, 255, 255, 0.7);
}
@media only screen and (min-width: 720px) {
  /* common */
  #nav-header .nav li a {
    color: #ffffff;
    color: rgba(255, 255, 255, 0.7);
  }
  /* level 1 */
  #nav-header .nav > li {
    border-right: none;
  }
  #nav-header .nav > li > a:hover,
  #nav-header .nav > li:hover > a {
    background: rgba(0, 0, 0, 0.1);
  }
  #nav-header .nav li > a:hover,
  #nav-header .nav li:hover > a,
  #nav-header .nav li.current_page_item > a,
  #nav-header .nav li.current-menu-item > a,
  #nav-header .nav li.current-menu-ancestor > a,
  #nav-header .nav li.current-post-parent > a {
    color: #ffffff;
  }
  /* level 2 & 3 */
  #nav-header .nav ul {
    background: #2b3990 url(img/opacity-10.png) repeat;
  }
  #nav-header .nav ul li {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.06);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.06);
  }
  #nav-header .nav ul li:last-child {
    box-shadow: none;
    -webkit-box-shadow: none;
  }
}
@media only screen and (max-width: 719px) {
  /* common */
  #nav-header.nav-container {
    border-left: 0;
    border-right: 0;
  }
  #nav-header .container {
    padding: 0;
  }
  #nav-header .nav {
    padding-bottom: 20px;
  }
  #nav-header .nav li a {
    color: #ffffff;
    color: rgba(255, 255, 255, 0.8);
    border-top: 1px solid rgba(255, 255, 255, 0.06);
  }
  /* level 1 */
  #nav-header .nav li > a:hover {
    background: rgba(0, 0, 0, 0.15);
    color: #ffffff;
  }
  #nav-header .nav li.current_page_item > a,
  #nav-header .nav li.current-menu-item > a,
  #nav-header .nav li.current-post-parent > a {
    background: rgba(0, 0, 0, 0.15);
    color: #ffffff;
  }
}
/* ------------------------------------------------------------------------- *
 *  Section: Page
/* ------------------------------------------------------------------------- */
#page {
  padding-bottom: 60px;
  margin-top: -60px;
}
#page .container-inner {
  background: #ffffff;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
/* ------------------------------------------------------------------------- *
 *  Section: Footer
/* ------------------------------------------------------------------------- */
#footer {
  background: #ffffff;
  color: #777777;
  width: 100%;
}
#footer a {
  color: #777777;
}
#footer a:hover {
  color: #cccccc;
}
#footer .pad {
  padding-bottom: 30px;
}
#footer-widgets {
  padding-top: 20px;
}
#footer-bottom {
  background: #2b3990;
}
#footer-bottom .pad {
  padding-top: 30px;
}
#footer-bottom a {
  color: #ffffff;
  color: rgba(255, 255, 255, 0.7);
}
#footer-bottom a:hover {
  color: #ffffff;
}
#footer-bottom #footer-logo {
  display: block;
  margin-bottom: 20px;
  max-height: 50px;
  -webkit-border-radius: 0;
  border-radius: 0;
}
#footer-bottom #copyright,
#footer-bottom #credit {
  color: #ffffff;
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  line-height: 1.5em;
}
#footer-bottom #back-to-top {
  background: #eaeaea;
  color: #777777;
  overflow: hidden;
  text-align: center;
  width: 60px;
  height: 30px;
  display: block;
  margin: 0 auto;
  margin: 0 auto -30px;
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.05);
}
#footer-bottom #back-to-top i {
  font-size: 38px;
  position: relative;
  top: -7px;
}
#footer-bottom #back-to-top:hover {
  color: #444444;
}
#footer-bottom .social-links {
  padding-top: 10px;
}
#footer-bottom .social-links a {
  color: rgba(255, 255, 255, 0.6);
}
#footer-bottom .social-links a:hover {
  color: #ffffff;
}
#footer-bottom .social-links .social-tooltip {
  font-size: 28px;
}
/*  footer : nav
/* ------------------------------------ */
#nav-footer.nav-container {
  background: #ffffff;
  border-top: 1px solid #eeeeee;
}
#nav-footer .nav-toggle {
  background: transparent;
  color: #444444;
  border-left: 1px solid #eeeeee;
}
@media only screen and (min-width: 720px) {
  /* common */
  #nav-footer .nav {
    text-align: center;
  }
  #nav-footer .nav li a {
    color: #999999;
  }
  /* level 1 */
  #nav-footer .nav > li > a {
    padding: 12px 18px;
  }
  #nav-footer .nav > li {
    border-right: 0;
  }
  #nav-footer .nav > li:first-child {
    border-left: 0;
  }
  #nav-footer .nav > li > a:hover,
  #nav-footer .nav > li:hover > a {
    background: #bdc3c7;
  }
  #nav-footer .nav li > a:hover,
  #nav-footer .nav li:hover > a,
  #nav-footer .nav li.current_page_item > a,
  #nav-footer .nav li.current-menu-item > a,
  #nav-footer .nav li.current-menu-ancestor > a,
  #nav-footer .nav li.current-post-parent > a {
    color: #666666;
  }
  /* level 2 & 3 */
  #nav-footer .nav ul {
    background: #bdc3c7;
    bottom: 44px;
    top: auto;
    text-align: left;
    -webkit-box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.05);
  }
  #nav-footer .nav ul li {
    border-bottom: 1px solid #e4e4e4;
  }
  #nav-footer .nav ul ul {
    top: -10px;
  }
  /* level 3 */
  #nav-footer .nav ul ul {
    position: absolute;
    top: auto;
    bottom: -10px;
  }
}
@media only screen and (max-width: 719px) {
  /* common */
  #nav-footer .nav li a {
    color: #999999;
    color: rgba(0, 0, 0, 0.8);
    border-top: 1px solid #f2f2f2;
  }
  /* level 1 */
  #nav-footer .nav li > a:hover {
    background: #f2f2f2;
    color: #444444;
  }
  #nav-footer .nav li.current_page_item > a,
  #nav-footer .nav li.current-menu-item > a,
  #nav-footer .nav li.current-post-parent > a {
    background: #f2f2f2;
    color: #444444;
  }
}
/* ------------------------------------------------------------------------- *
 *  Post Entry
/* ------------------------------------------------------------------------- */
.content .post,
.content .page {
  position: relative;
  overflow: hidden;
}
.blog .post,
.single .post,
.archive .post,
.search .post,
.search .page {
  margin-bottom: 40px;
}
/*  post : search
/* ------------------------------------ */
.search .page.type-page .post-thumbnail,
.search .page.type-page .post-meta {
  display: none;
}
/*  post : featured
/* ------------------------------------ */
#flexslider-featured .flex-direction-nav {
  position: absolute;
  top: -50px;
  left: auto;
  right: 0;
}
#flexslider-featured .flex-direction-nav li {
  float: left;
  margin-left: 3px;
}
#flexslider-featured .flex-direction-nav li:first-child {
  float: left;
}
#flexslider-featured .flex-direction-nav li:last-child {
  float: right;
}
#flexslider-featured .flex-direction-nav a {
  background: #ffffff;
  color: #bbbbbb;
  font-size: 24px;
  line-height: 24px;
  position: relative;
  width: 34px;
  height: 36px;
  margin: 0 0 0;
  display: block;
  text-align: center;
  cursor: pointer;
  text-indent: -999px;
  overflow: hidden;
  opacity: 1;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
#flexslider-featured .flex-direction-nav a:before {
  font-family: FontAwesome;
  line-height: 24px;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 8px;
  text-indent: 0;
}
#flexslider-featured .flex-direction-nav .flex-next:before {
  content: "\f054";
}
#flexslider-featured .flex-direction-nav .flex-prev:before {
  content: "\f053";
}
#flexslider-featured .flex-direction-nav .flex-next:hover,
#flexslider-featured .flex-direction-nav .flex-prev:hover {
  opacity: 1;
  color: #141a41;
}
#flexslider-featured .flex-control-nav {
  position: absolute;
  top: -15px;
  bottom: auto;
}
#flexslider-featured .flex-control-nav li {
  margin: 0;
  padding: 0;
  margin-right: 2px;
  float: left;
}
#flexslider-featured .flex-control-nav li a {
  background: #dddddd;
  width: 20px;
  height: 2px;
  text-indent: -999px;
  overflow: hidden;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#flexslider-featured .flex-control-nav li a:hover {
  background: #cccccc;
}
#flexslider-featured .flex-control-nav li a.flex-active {
  background: #141a41;
}
.featured,
.featured.flexslider {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #eeeeee;
}
.featured .post {
  margin-bottom: 0;
}
.featured .post-title {
  font-size: 34px;
  letter-spacing: -0.7px;
  line-height: 1.4em;
}
/*  post : custom loop
/* ------------------------------------ */
.post-list {
  margin-right: -30px;
}
.post-list .post-row {
  margin-left: -30px;
  padding-left: 30px;
  float: left;
  width: 100%;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 30px;
  position: relative;
}
.post-list .post-row:last-child {
  border: none;
  margin-bottom: 0;
}
.post-list .post,
.post-list .page {
  width: 50%;
  float: left;
}
.post-list .post-inner {
  margin-right: 30px;
}
.post-hover:hover .post-thumbnail {
  opacity: 0.75;
}
.post-hover:hover .post-title a {
  color: #141a41;
}
.post-hover:hover .thumb-icon {
  background: #ffffff;
  color: #221122;
}
.post-thumbnail {
  width: 100%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}
.post-thumbnail {
  position: relative;
  margin-bottom: 1em;
}
.post-thumbnail img {
  display: block;
  width: 100%;
  height: auto;
}
.post-comments {
  background: #ed3331;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  display: block;
  position: absolute;
  top: 10px;
  right: 0;
  -webkit-box-shadow: inset -1px 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset -1px 0 1px rgba(0, 0, 0, 0.2);
}
.post-comments > span {
  display: block;
  position: relative;
  padding: 2px 7px;
}
.post-comments > span:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid #ed3331;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  position: absolute;
  top: 5px;
  left: -14px;
}
.post-comments i {
  margin-right: 3px;
}
.post-comments:hover {
  color: #ffffff !important;
  padding-right: 4px;
}
.post-meta {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  color: #bbbbbb;
  margin-bottom: 0.3em;
}
.post-meta .post-category {
  float: left;
  margin-right: 6px;
}
.post-meta .post-date {
  float: left;
}
.post-title {
  color: #444444;
  font-weight: normal;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5em;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.post-title strong {
  font-weight: 600;
}
.post-title i {
  font-style: italic;
}
.post-title a {
  color: #444444;
}
.post-title a:hover {
  color: #141a41;
}
.entry.excerpt {
  font-size: 16px;
  color: #aaaaaa;
}
.entry.excerpt p {
  margin-bottom: 0;
}
/* ------------------------------------------------------------------------- *
 *  Single
/* ------------------------------------------------------------------------- */
.single .post-title {
  font-size: 38px;
  letter-spacing: -1px;
  line-height: 1.3em;
}
.single .post-inner .post-thumbnail {
  margin-bottom: 2em;
}
.post-byline {
  font-size: 14px;
  font-weight: 400;
  color: #aaaaaa;
  text-transform: uppercase;
  margin-bottom: 1em;
}
.entry.share {
  padding-right: 100px;
  min-height: 354px;
  /* share buttons height */
  position: relative;
}
.entry.share .entry-inner {
  float: left;
  width: 100%;
}
/*  single : sharrre
/* ------------------------------------ */
.sharrre-container {
  float: right;
  width: 50px;
  padding: 0 10px;
  margin-right: -100px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.sharrre-container span {
  color: #aaaaaa;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
}
.sharrre {
  padding: 10px 0 0;
}
.sharrre .box {
  width: 50px;
  display: block;
}
.sharrre .count {
  background: #eeeeee;
  color: #333333;
  display: block;
  font-size: 15px;
  font-weight: 600;
  line-height: 30px;
  position: relative;
  text-align: center;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.sharrre .count:after {
  content: '';
  display: block;
  position: absolute;
  left: 49%;
  width: 0;
  height: 0;
  border: solid 6px transparent;
  border-top-color: #eeeeee;
  margin-left: -6px;
  bottom: -12px;
}
.sharrre .share {
  display: block;
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
  margin-top: 12px;
  padding: 0;
  text-align: center;
  text-decoration: none;
}
.sharrre .box .share,
.sharrre .box .count {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.sharrre .box:hover .share,
.sharrre .box:hover .count {
  color: #444444 !important;
}
.sharrre#twitter .share,
.sharrre#twitter .box .count {
  color: #00acee;
}
.sharrre#facebook .share,
.sharrre#facebook .box .count {
  color: #3b5999;
}
.sharrre#googleplus .share,
.sharrre#googleplus .box .count {
  color: #cd483c;
}
.sharrre#pinterest .share,
.sharrre#pinterest .box .count {
  color: #ca2128;
}
/*  single : post pages
/* ------------------------------------ */
.post-pages {
  font-weight: 600;
  margin-bottom: 20px;
}
/*  single : tags
/* ------------------------------------ */
.post-tags {
  margin-bottom: 40px;
}
.post-tags span {
  font-size: 14px;
  color: #999999;
  display: inline-block;
  margin: 0 7px 0 0;
}
.post-tags a {
  background: #f2f2f2;
  display: inline-block;
  line-height: 16px;
  white-space: nowrap;
  font-size: 12px;
  color: #999999;
  padding: 3px 7px;
  margin: 0 5px 2px 0;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.post-tags a:hover {
  background-color: #141a41;
  color: #ffffff;
}
/*  single : author bio
/* ------------------------------------ */
.author-bio {
  border: 2px solid #eeeeee;
  position: relative;
  padding: 15px 15px 10px 95px;
  color: #888888;
  margin-bottom: 40px;
}
.author-bio:before {
  content: '';
  display: inline-block;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #eeeeee;
  position: absolute;
  top: -8px;
  left: 13px;
}
.author-bio:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -5px;
  left: 15px;
}
.author-bio .bio-avatar {
  float: left;
  margin: 0 0 8px -80px;
  width: 64px;
  height: auto;
  position: relative;
}
.author-bio .bio-avatar:after {
  background: #141a41;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 4px 4px;
  content: "\f040";
  color: #ffffff;
  font-size: 12px;
  line-height: 12px;
  width: 12px;
  font-style: normal;
  font-family: FontAwesome;
  text-align: center;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.author-bio .bio-avatar img {
  display: block;
  width: 100%;
  height: auto;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.author-bio p {
  margin-bottom: 8px;
}
.author-bio .bio-name {
  color: #444444;
  font-weight: 600;
  margin-bottom: 4px;
}
.author-bio .bio-desc {
  color: #888888;
  font-size: 15px;
  line-height: 1.5em;
}
/*  single : related posts
/* ------------------------------------ */
.related-posts {
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 40px;
}
.related-posts li {
  width: 33.3%;
  float: left;
  display: inline;
}
.related-posts .post {
  border-right: 1px solid transparent;
  margin-bottom: 0;
  padding-bottom: 10px;
}
.related-posts li:nth-child(4) article {
  display: none;
}
.related-posts li:nth-child(3) article {
  border-right-color: transparent;
}
.related-posts .related-inner {
  padding: 0 20px 0 0;
}
.single .related-posts .post-title {
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.5em;
  letter-spacing: 0;
  display: block;
}
/*  single : post-nav
/* ------------------------------------ */
.post-nav li {
  width: 100%;
  display: inline;
  float: left;
  text-align: center;
}
.post-nav li a {
  position: relative;
  min-height: 73px;
  display: block;
  padding: 16px 40px 24px;
}
.post-nav li i {
  color: #cccccc;
  font-size: 18px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
}
.post-nav li a strong {
  display: block;
  font-size: 12px;
  color: #aaaaaa;
  letter-spacing: 0.5px;
  font-weight: normal;
  text-transform: uppercase;
}
.post-nav li a span {
  font-size: 15px;
  color: #666666;
}
.post-nav li a:hover span {
  color: #444444;
}
.post-nav li.previous i {
  left: 10px;
}
.post-nav li.next i {
  right: 10px;
}
.post-nav li a span,
.post-nav li a i {
  -webkit-transition-property: background color;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-property: background color;
  -moz-transition-duration: 0.2s;
  -moz-transition-timing-function: ease-out;
  -o-transition-property: background color;
  -o-transition-duration: 0.2s;
  -o-transition-timing-function: ease-out;
  transition-property: background color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}
/* sidebar-specific */
.sidebar .post-nav li a {
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #dddddd;
}
.sidebar .post-nav li a:hover {
  background: #ebebeb;
  background: rgba(0, 0, 0, 0.02);
}
.sidebar .post-nav li.previous a,
.sidebar .post-nav li.next a {
  border-bottom: 1px solid #dddddd;
}
.s1 .post-nav li a:hover i {
  color: #141a41;
}
.s2 .post-nav li a:hover i {
  color: #ed3331;
}
/* content-specific */
.content .post-nav {
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 40px;
}
.content .post-nav li {
  width: 50%;
}
.content .post-nav li.next {
  float: right;
  -webkit-box-shadow: -1px 0 0 #f9f9f9, inset 1px 0 0 #eeeeee;
  box-shadow: -1px 0 0 #f9f9f9, inset 1px 0 0 #eeeeee;
}
.content .post-nav li.next a {
  padding-left: 24px;
}
.content .post-nav li.previous {
  float: left;
  -webkit-box-shadow: 1px 0 0 #f9f9f9, inset -1px 0 0 #eeeeee;
  box-shadow: 1px 0 0 #f9f9f9, inset -1px 0 0 #eeeeee;
}
.content .post-nav li.previous a {
  padding-right: 24px;
}
.content .post-nav li a:hover i {
  color: #141a41;
}
/* ------------------------------------------------------------------------- *
 *  Post Formats
/* ------------------------------------------------------------------------- */
/*  post format : common
/* ------------------------------------ */
.post-format {
  position: relative;
  margin-bottom: 2em;
}
.post-format p {
  margin-bottom: 1em;
}
.post-format .format-container {
  background: #f1f1f1;
  padding-bottom: 10px;
  border-left: 3px solid #141a41;
}
.post-format .format-container .fa,
.post-format .format-container .fa {
  color: #cccccc;
  font-size: 36px;
  float: right;
  margin: 0 0 20px 20px;
}
/*  post format : image
/* ------------------------------------ */
/*  post format : video
/* ------------------------------------ */
/*  post format : quote
/* ------------------------------------ */
.format-quote .post-format blockquote {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.4em;
  font-style: italic;
}
.format-quote .post-format .quote-author {
  font-style: italic;
}
/*  post format : link
/* ------------------------------------ */
.format-link .post-format p {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.4em;
  font-style: italic;
}
/*  post format : chat
/* ------------------------------------ */
.format-chat .post-format p {
  font-style: italic;
}
/*  post format : status
/* ------------------------------------ */
.format-status .post-title {
  display: none;
}
.single .format-status .entry {
  font-size: 24px;
  line-height: 1.4em;
}
/*  post format : aside
/* ------------------------------------ */
.format-aside .post-title {
  display: none;
}
/*  post format : gallery
/* ------------------------------------ */
.format-gallery .post-format .flexslider {
  overflow: visible;
  padding-bottom: 30px;
  margin-bottom: -20px;
}
.format-gallery .post-format .flexslider .slides {
  background: #262626;
  overflow: hidden;
  position: relative;
}
.format-gallery .post-format .flexslider .slides img {
  max-height: 405px;
  width: auto;
  max-width: 100%;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
}
.format-gallery .post-format .flexslider .flex-control-nav {
  bottom: 1px;
}
.format-gallery .post-format .flex-direction-nav a:before {
  color: #ffffff;
}
/*  post format : audio
/* ------------------------------------ */
.format-audio .post-format a,
.format-audio .post-format i {
  font-size: 16px;
  line-height: 22px;
}
#page .format-audio .post-format img {
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
/* jplayer */
.jp-interface {
  background-color: #444444;
}
.jp-play-bar,
.jp-volume-bar-value {
  background-color: #83ad02;
}
.jp-progress {
  background-color: #262626;
}
.jp-volume-bar {
  border: 1px solid #262626;
}
.jp-seek-bar,
.jp-volume-bar {
  background-color: #383838;
}
.jp-interface a {
  color: #bbbbbb;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
}
.jp-interface a:hover {
  color: #eeeeee;
}
.jp-progress-container,
.jp-volume-bar-container {
  border-left: 1px solid #333333;
}
.jp-audio,
.jp-interface,
.jp-progress,
.jp-seek-bar {
  width: 100%;
  min-width: 100%;
}
.jp-interface {
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.06), inset 0 -1px 0 rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.06), inset 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.jp-interface .jp-controls {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.jp-interface .jp-controls li {
  display: inline;
}
.jp-interface .jp-controls a {
  position: absolute;
}
.jp-interface .jp-controls a i {
  display: block;
}
.jp-play,
.jp-pause {
  width: 25px;
  height: 30px;
  z-index: 1;
  outline: none;
  margin: 12px 0 0 9px;
}
.jp-play,
.jp-pause {
  top: 0;
  left: 0;
}
.jp-progress-container {
  margin-left: 34px;
  margin-right: 84px;
  height: 6px;
  padding: 20px 10px;
}
.jp-progress {
  overflow: hidden;
}
.jp-progress {
  height: 5px;
  padding: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.06);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.06);
}
.jp-seek-bar {
  width: 0px;
  height: 5px;
  cursor: pointer;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}
.jp-play-bar {
  width: 0px;
  height: 5px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
.jp-volume-bar-container {
  width: 40px;
  height: 6px;
  padding: 20px 10px 20px 33px;
  position: absolute;
  top: 0;
  right: 0;
}
.jp-volume-bar {
  position: relative;
  overflow: hidden;
  width: 38px;
  height: 5px;
  cursor: pointer;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.06);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.06);
}
.jp-volume-bar {
  top: 0;
  left: 0;
}
.jp-volume-bar-value {
  width: 0px;
  height: 5px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
.jp-mute,
.jp-unmute {
  width: 17px;
  z-index: 1;
  outline: none;
  margin-top: 10px;
}
.jp-mute,
.jp-unmute {
  top: 2px;
  right: 58px;
}
.jp-unmute {
  display: none;
}
.jp-jplayer {
  width: 0px;
  height: 0px;
}
/* ------------------------------------------------------------------------- *
 *  Widgets
/* ------------------------------------------------------------------------- */
.widget {
  color: #777777;
  font-size: 15px;
  overflow: hidden;
}
.widget a {
  color: #777777;
}
.widget a:hover {
  color: #444444;
}
.widget > h3 {
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 6px;
}
.widget > h3 a,
.widget > h3 a:hover {
  color: #444444;
}
.widget > h3 a img {
  display: none;
  float: left;
  margin: 3px 7px 0 0;
}
.widget select {
  border: 1px solid #dddddd;
  color: #777777;
  font-size: 15px;
  padding: 7px;
  width: 100%;
  max-width: 100%;
}
#footer .widget select {
  border-color: #eeeeee;
}
.sidebar .widget {
  padding: 30px 30px 20px;
}
#footer .widget {
  padding-bottom: 30px;
}
#footer .widget a:hover {
  color: #666666;
}
/*  widgets : icons
/* ------------------------------------ */
.widget > ul li:before,
.widget > ul li a:before,
.widget > div > ul li a:before,
.widget_calendar caption:before {
  font-family: FontAwesome;
  font-size: 12px;
  margin-right: 6px;
  color: #cccccc;
  display: inline-block !important;
  width: 1em;
  text-align: center;
}
.widget > ul li a:hover:before {
  color: #999999;
}
.widget_archive > ul > li a:before {
  content: "\f073";
}
.widget_categories > ul > li a:before {
  content: "\f07c";
}
.widget_links > ul > li a:before {
  content: "\f08e";
}
.widget_meta > ul > li a:before {
  content: "\f0da";
}
.widget_recent_comments > ul > li:before {
  content: "\f075";
}
.widget_recent_entries > ul > li a:before {
  content: "\f017";
}
.widget_calendar caption:before {
  content: "\f073";
}
.widget_pages ul li a:before,
.widget_nav_menu ul li a:before {
  content: "\f068";
}
/*  widgets : common
/* ------------------------------------ */
.widget_search > h3,
.widget_text > h3,
.widget_tag_cloud > h3,
.widget_calendar > h3 {
  margin-bottom: 1em;
}
.widget_archive ul li,
.widget_categories ul li,
.widget_links ul li,
.widget_meta ul li,
.widget_recent_comments ul li,
.widget_recent_entries ul li,
.widget_rss ul li,
.widget_pages ul li a,
.widget_nav_menu ul li a,
.alx-tab li,
.alx-posts li {
  padding: 10px 0;
  border-bottom: 1px solid #e4e4e4;
}
#footer .widget_archive ul li,
#footer .widget_categories ul li,
#footer .widget_links ul li,
#footer .widget_meta ul li,
#footer .widget_recent_comments ul li,
#footer .widget_recent_entries ul li,
#footer .widget_rss ul li,
#footer .widget_pages ul li a,
#footer .widget_nav_menu ul li a,
#footer .alx-tab li,
#footer .alx-posts li,
#footer .widget_calendar th,
#footer .widget_calendar td {
  border-color: #f2f2f2;
}
.widget_archive ul li,
.widget_categories ul li,
.widget_links ul li {
  color: #bbbbbb;
}
.widget_recent_comments ul li,
.widget_recent_entries ul li {
  color: #999999;
}
.widget_recent_entries .post-date {
  display: block;
}
/*  widget : pages / custom menu
/* ------------------------------------ */
.widget_pages ul li a,
.widget_nav_menu ul li a {
  display: block;
}
.widget_pages li li a,
.widget_nav_menu li li a {
  padding-left: 15px;
}
.widget_pages li li li a,
.widget_nav_menu li li li a {
  padding-left: 30px;
}
.widget_pages ul ul,
.widget_pages ul ul ul,
.widget_nav_menu ul ul,
.widget_nav_menu ul ul ul {
  border: 0;
}
/*  widget : rss
/* ------------------------------------ */
.widget_rss ul li a {
  display: block;
}
.widget_rss ul li span.rss-date {
  color: #444444;
  font-weight: 600;
  display: block;
  text-transform: uppercase;
  font-size: 12px;
}
.widget_rss ul li cite {
  color: #999999;
}
.s1 .widget_rss ul li a,
#footer .widget_rss ul li a {
  color: #141a41;
}
.s2 .widget_rss ul li a {
  color: #ed3331;
}
/*  widget : search
/* ------------------------------------ */
.widget_search input.search {
  color: #999999;
  padding-left: 26px;
  width: 100%;
}
.widget_search .screen-reader-text,
.widget_search #searchsubmit {
  display: none;
}
/*  widget : text
/* ------------------------------------ */
.widget_text .textwidget p {
  margin-bottom: 1em;
}
/*  widget : calendar
/* ------------------------------------ */
.widget_calendar a {
  font-weight: 600;
}
.widget_calendar a:hover {
  color: #444444 !important;
}
.widget_calendar #wp-calendar {
  width: 100%;
}
.widget_calendar caption {
  color: #ffffff;
  padding: 5px 10px;
}
.widget_calendar caption:before {
  color: #ffffff;
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
}
.widget_calendar thead {
  background: #e2e2e2;
  -webkit-box-shadow: 0 1px 0 #dddddd;
  box-shadow: inset 0 -1px 0 #dddddd;
}
#footer .widget_calendar thead {
  background: #f2f2f2;
}
.widget_calendar th {
  font-weight: 600;
}
.widget_calendar th,
.widget_calendar td {
  padding: 3px 0;
  text-align: center;
  border: 1px solid #e2e2e2;
}
.widget_calendar .pad {
  padding: 0!important;
}
.s1 .widget_calendar a,
#footer .widget_calendar a {
  color: #141a41;
}
.s1 .widget_calendar caption,
#footer .widget_calendar caption {
  background: #141a41;
}
.s2 .widget_calendar a {
  color: #ed3331;
}
.s2 .widget_calendar caption {
  background: #ed3331;
}
/*  custom widget : alxtabs / alxposts
/* ------------------------------------ */
.alx-tabs-nav {
  border-bottom: 3px solid #dddddd;
  margin-bottom: 10px;
  text-align: center;
}
.alx-tabs-nav.tab-count-1 li {
  width: 100%;
}
.alx-tabs-nav.tab-count-2 li {
  width: 50%;
}
.alx-tabs-nav.tab-count-3 li {
  width: 33.333%;
}
.alx-tabs-nav.tab-count-4 li {
  width: 25%;
}
.alx-tabs-nav li {
  display: block;
  float: left;
}
.alx-tabs-nav li a {
  font-size: 18px;
  display: block;
  padding: 8px 0;
  margin-bottom: -3px;
  border-bottom: 3px solid transparent;
}
.alx-tabs-nav li a:hover {
  border-bottom-color: #cccccc;
}
.alx-tabs-nav li.active a,
#footer .alx-tabs-nav li.active a {
  color: #444444;
  /* background: linear-gradient(to bottom, fade(@light-1,0.0) 0%, @light-1 100%) 0 0 fade(@dark-7, 0); */
}
.alx-tabs-nav li a span {
  display: none;
}
#footer .alx-tabs-nav {
  border-bottom-color: #eeeeee;
}
#footer .alx-tabs-nav li a:hover {
  border-bottom-color: #dddddd;
}
.s1 .alx-tabs-nav li.active a,
#footer .alx-tabs-nav li.active a {
  border-bottom-color: #141a41;
}
.s2 .alx-tabs-nav li.active a {
  border-bottom-color: #ed3331;
}
.alx-tab li,
.alx-posts li {
  font-weight: 400;
  line-height: 1.4em;
  overflow: hidden;
}
.alx-tab a,
.alx-posts a {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.alx-tab img,
.alx-posts img {
  display: block;
  width: 100%;
  height: auto;
}
.alx-tab.thumbs-enabled li {
  padding-left: 94px;
}
.alx-tab .tab-item-thumbnail {
  width: 80px;
  margin-left: -94px;
  float: left;
}
.alx-tab .tab-item-thumbnail,
.alx-posts .post-item-thumbnail {
  position: relative;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}
.alx-tab.avatars-enabled li {
  padding-left: 62px;
}
.alx-tab .tab-item-avatar {
  margin-left: -62px;
  width: 48px;
  float: left;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}
.alx-tab .tab-item-category,
.alx-posts .post-item-category {
  color: #aaaaaa;
  text-transform: uppercase;
  font-size: 13px;
}
.alx-tab .tab-item-title a,
.alx-tab .tab-item-comment a,
.alx-posts .post-item-title a {
  color: #444444;
}
.alx-tab .tab-item-category a:hover,
.alx-posts .post-item-category a:hover {
  color: #444444 !important;
}
.alx-tab .tab-item-title,
.alx-tab .tab-item-comment,
.alx-posts .post-item-title {
  margin: 2px 0;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.alx-tab .tab-item-date,
.alx-tab .tab-item-name,
.alx-posts .post-item-date {
  text-transform: uppercase;
  color: #aaaaaa;
  font-size: 13px;
}
.alx-tab .thumb-icon.small {
  bottom: 8px;
  left: 8px;
}
.alx-tab li:hover .tab-item-thumbnail,
.alx-tab li:hover .tab-item-avatar,
.alx-posts li:hover .post-item-thumbnail {
  opacity: 0.75;
}
.alx-tab li:hover .thumb-icon,
.alx-posts li:hover .thumb-icon {
  background: #ffffff;
  color: #221122;
}
.s1 .alx-tab .tab-item-category a,
.s1 .alx-posts .post-item-category a,
.s1 .alx-tab li:hover .tab-item-title a,
.s1 .alx-tab li:hover .tab-item-comment a,
.s1 .alx-posts li:hover .post-item-title a,
#footer .alx-tab .tab-item-category a,
#footer .alx-posts .post-item-category a,
#footer .alx-tab li:hover .tab-item-title a,
#footer .alx-tab li:hover .tab-item-comment a,
#footer .alx-posts li:hover .post-item-title a {
  color: #141a41;
}
.s2 .alx-tab .tab-item-category a,
.s2 .alx-posts .post-item-category a,
.s2 .alx-tab li:hover .tab-item-title a,
.s2 .alx-tab li:hover .tab-item-comment a,
.s2 .alx-posts li:hover .post-item-title a {
  color: #ed3331;
}
.alx-posts .post-item-thumbnail {
  margin-bottom: 10px;
}
.alx-posts .post-item-title {
  font-size: 16px;
  line-height: 1.5em;
}
.s1 .alx-posts .post-item-title,
#footer .alx-posts .post-item-title {
  font-size: 18px;
  line-height: 1.4em;
  font-weight: 300;
}
.s1 .alx-posts .post-item-category,
.s1 .alx-posts .post-item-date,
#footer .alx-posts .post-item-category,
#footer .alx-posts .post-item-date {
  font-size: 14px;
}
/*  custom widget : alxvideo
/* ------------------------------------ */
.widget_alx_video h3 {
  margin-bottom: 14px;
}
/* ------------------------------------------------------------------------- *
 *  Comments
/* ------------------------------------------------------------------------- */
#comments {
  margin-top: 20px;
}
#pinglist-container {
  display: none;
}
.comment-tabs {
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 20px;
}
.comment-tabs li {
  float: left;
  margin-bottom: -2px;
}
.comment-tabs li a {
  font-weight: 600;
  padding: 0 10px 10px;
  display: block;
  color: #aaaaaa;
  border-bottom: 2px solid #eeeeee;
}
.comment-tabs li a:hover {
  color: #444444;
  border-color: #cccccc;
}
.comment-tabs li span {
  background-color: #eeeeee;
  padding: 0 6px;
  margin-left: 8px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.comment-tabs li i {
  margin-right: 6px;
}
.comment-tabs li.active a {
  color: #141a41;
  border-bottom-color: #141a41;
}
.commentlist,
.pinglist {
  margin-bottom: 20px;
}
.commentlist li,
.pinglist li {
  padding-left: 60px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}
.commentlist .comment-body,
.pinglist li {
  clear: both;
  position: relative;
  padding-bottom: 15px;
}
.commentlist .comment-author,
.commentlist .comment-meta,
.commentlist .comment-awaiting-moderation {
  font-size: 13px;
  display: block;
  float: left;
  line-height: 20px;
}
.commentlist .comment-author {
  margin-right: 6px;
}
.commentlist .fn,
.pinglist .ping-link {
  color: #444444;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
}
.commentlist .says {
  display: none;
}
.commentlist .avatar {
  position: absolute;
  left: -60px;
  top: 0;
  width: 48px;
  height: 48px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.commentlist .comment-meta:before,
.pinglist .ping-meta:before {
  color: #cccccc;
  content: "\f017";
  font-family: FontAwesome;
  font-size: 10px;
  margin-right: 3px;
  vertical-align: 4%;
}
.commentlist .comment-meta a,
.pinglist .ping-meta {
  color: #aaaaaa;
}
.commentlist .reply {
  font-size: 13px;
  line-height: 16px;
}
.commentlist .reply a {
  color: #aaaaaa;
}
.commentlist .reply a:hover {
  color: #444444;
}
.comment-awaiting-moderation {
  color: #141a41;
  font-style: normal;
}
/* pings */
.pinglist li {
  padding-left: 0;
}
/* comment text */
.commentlist .comment-body p {
  margin-bottom: 8px;
  color: #777777;
  clear: both;
}
.commentlist .comment-body strong {
  font-weight: bold;
}
.commentlist .comment-body em {
  font-style: italic;
}
.commentlist .comment-body ol li {
  list-style: decimal;
  margin-left: 2em;
  padding: 0;
}
.commentlist .comment-body ul li {
  list-style: square;
  margin-left: 2em;
  padding: 0;
}
/* post author & admin comment */
.commentlist li.bypostauthor > .comment-body:after,
.commentlist li.comment-author-admin > .comment-body:after {
  background: #141a41;
  display: block;
  position: absolute;
  content: "\f040";
  color: #ffffff;
  line-height: 12px;
  width: 12px;
  font-style: normal;
  font-family: FontAwesome;
  text-align: center;
}
.commentlist li.comment-author-admin > .comment-body:after {
  content: "\f005";
  /* star for admin */
}
.commentlist li.bypostauthor > .comment-body:after,
.commentlist li.comment-author-admin > .comment-body:after {
  top: 32px;
  left: -28px;
  font-size: 10px;
  padding: 2px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.commentlist li li.bypostauthor > .comment-body:after,
.commentlist li li.comment-author-admin > .comment-body:after {
  top: 22px;
  left: -26px;
  font-size: 8px;
  padding: 1px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* child comment */
.commentlist li li {
  padding-left: 48px;
  margin: 0;
}
.commentlist li li .avatar {
  width: 36px;
  height: 36px;
  left: -48px;
  top: 0;
}
.commentlist li li .comment-meta {
  left: 70px;
}
/*  comments : nav
/* ------------------------------------ */
.comments-nav {
  margin-bottom: 20px;
}
.comments-nav a {
  font-weight: 600;
}
.comments-nav .nav-previous {
  float: left;
}
.comments-nav .nav-next {
  float: right;
}
/*  comments : form
/* ------------------------------------ */
.logged-in-as,
.comment-notes,
.form-allowed-tags {
  display: none;
}
#respond {
  position: relative;
}
#reply-title {
  margin-bottom: 20px;
}
li #reply-title {
  font-size: 0;
  margin: 0!important;
  padding: 0;
  height: 0;
  border-top: 0;
}
#cancel-comment-reply-link {
  color: #999999;
  display: block;
  position: absolute;
  bottom: 26px;
  right: 20px;
  font-size: 12px;
}
#cancel-comment-reply-link:hover {
  color: #777777;
}
#commentform {
  background: #f1f1f1;
  padding: 10px 20px 20px;
  margin-bottom: 15px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
#commentform p.comment-form-author {
  width: 48%;
  float: left;
}
#commentform p.comment-form-email {
  width: 48%;
  float: right;
}
#commentform p.comment-form-url,
#commentform p.comment-form-comment {
  clear: both;
}
#commentform label {
  padding: 6px 0;
  font-weight: 600;
  display: block;
}
#commentform input[type="text"],
#commentform textarea {
  max-width: 100%;
  width: 100%;
}
#commentform textarea {
  height: 100px;
}
#commentform p.form-submit {
  margin-top: 10px;
}
.logged-in #reply-title {
  margin-bottom: 20px;
}
.logged-in #commentform p.comment-form-comment {
  margin-top: 10px;
}
.logged-in #commentform p.comment-form-comment label {
  display: none;
}
/* ------------------------------------------------------------------------- *
 *  Child Menu
/* ------------------------------------------------------------------------- */
.child-menu {
  zoom: 1;
  position: relative;
  padding: 0 0 20px;
}
.child-menu a {
  color: #777777;
  font-weight: 600;
  display: block;
  padding: 0 44px;
}
.child-menu a:hover {
  color: #141a41;
}
.child-menu .current_page_item > a {
  background: #ffffff;
  color: #141a41;
}
/* show only current page items */
.child-menu > li {
  display: none;
}
.child-menu > li.current_page_item,
.child-menu > li.current_page_parent,
.child-menu > li.current_page_ancestor {
  display: block;
}
.child-menu > li.current_page_item > ul ul,
.child-menu > li.current_page_parent > ul ul,
.child-menu > li.current_page_ancestor > ul ul {
  display: none;
}
.child-menu > li ul li.current_page_item ul,
.child-menu > li ul li.current_page_parent ul,
.child-menu > li ul li.current_page_ancestor ul {
  display: block;
}
/* level 1 */
.child-menu > li > a {
  font-size: 20px;
  display: block;
  padding: 20px 30px;
}
/* level 2 */
.child-menu > li > ul {
  background: #e9e9e9;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding: 10px 0 10px 10px;
}
.child-menu > li > ul > li > a {
  font-size: 15px;
  background: #bdc3c7;
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  padding: 11px 20px;
  -webkit-box-shadow: inset 0 1px 0 #f9f9f9;
  box-shadow: inset 0 1px 0 #f9f9f9;
}
.child-menu > li > ul > li > a:before {
  font-family: FontAwesome;
  content: "\f055";
  font-weight: normal;
  font-size: 18px;
  margin-right: 8px;
}
/* level 3 */
.child-menu > li ul ul {
  background: #bdc3c7;
  border-bottom: 1px solid #dddddd;
  border-top: 3px solid #ebebeb;
  border-left: 1px solid #dddddd;
  padding: 6px 0;
}
.child-menu > li ul ul a {
  font-size: 15px;
  font-weight: 300;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 1px;
}
.child-menu > li ul ul a:hover {
  background: #e9e9e9;
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.04);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.04);
}
.child-menu > li ul ul li.current_page_item > a {
  background: #ffffff;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.04);
}
/* child menu for dual/right fix */
.col-2cl .child-menu > li > ul,
.col-3cr .child-menu > li > ul {
  padding-left: 0;
  padding-right: 10px;
}
.col-2cl .child-menu > li > ul > li > a,
.col-3cr .child-menu > li > ul > li > a {
  border-left: 0;
  border-right: 1px solid #dddddd;
}
.col-2cl .child-menu > li ul ul,
.col-3cr .child-menu > li ul ul {
  border-left: 0;
  border-right: 1px solid #dddddd;
}
/* ------------------------------------------------------------------------- *
 *  Plugins
/* ------------------------------------------------------------------------- */
/*  plugin : wp-pagenavi
/* ------------------------------------ */
.wp-pagenavi {
  text-align: right;
  font-weight: 600;
  line-height: 20px;
  float: none;
  margin-right: -2px;
  text-align: center;
}
.wp-pagenavi a,
.wp-pagenavi span {
  color: #aaaaaa;
  font-size: 16px;
  padding: 7px 8px;
  display: inline;
  margin: 0 2px;
}
.wp-pagenavi span.pages {
  font-size: 17px;
  font-weight: 300;
  display: block;
  margin-bottom: 1em!important;
  border: none!important;
}
.wp-pagenavi span.pages:before {
  content: "\f15c";
  font-family: FontAwesome;
  margin-right: 6px;
}
.wp-pagenavi span.extend {
  border: none!important;
  border-bottom: 3px solid transparent;
  border-top: 1px solid transparent;
}
.wp-pagenavi a:hover,
.wp-pagenavi a:active,
.wp-pagenavi span.current {
  color: #444444;
}
.wp-pagenavi a {
  color: #141a41;
  border: none;
  border-bottom: 3px solid #dddddd;
  border-top: 1px solid #f1f1f1;
}
.wp-pagenavi a:hover,
.wp-pagenavi a:active,
.wp-pagenavi span.current {
  background: none;
  border: none;
  border-bottom: 3px solid #141a41;
  border-top: 1px solid #f1f1f1;
}
/*  plugin : contact form 7
/* ------------------------------------ */
.wpcf7 p {
  color: #221122;
  font-weight: 600;
  margin: 0 0 12px;
  width: 100%;
  float: left;
  position: relative;
}
.wpcf7 p span {
  font-weight: 400;
  color: #999999;
}
.wpcf7 label {
  display: block;
  float: left;
  width: 20%;
  margin: 9px 0 0 12px;
  text-align: left;
}
.wpcf7 input[type="text"],
.wpcf7 input[type="email"] {
  display: block;
  float: left;
  padding: 10px;
  width: 100%;
}
.wpcf7 textarea {
  display: block;
  float: left;
  padding: 10px;
  width: 100%;
}
.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea {
  background: #f5f5f5;
  margin-top: 12px;
}
.wpcf7 input[type="submit"] {
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
}
.wpcf7 div.wpcf7-validation-errors {
  border: none;
  margin: 0;
  padding: 0;
}
.wpcf7 div.wpcf7-mail-sent-ok,
.wpcf7 div.wpcf7-mail-sent-ng {
  border: none;
}
.wpcf7 div.wpcf7-response-output {
  margin: 0;
  padding: 0;
}
.wpcf7 span.wpcf7-form-control-wrap {
  display: block;
  position: relative;
}
.wpcf7 span.wpcf7-not-valid-tip {
  background: #f2dede;
  border-color: #e3bfbf;
  color: #b94a48;
  padding: 4px 14px;
  font-size: 12px;
  line-height: 20px;
  position: absolute;
  left: 0;
  top: 12px;
  width: auto;
  right: 0;
  display: block;
}
/* ------------------------------------------------------------------------- *
 *  Flexslider
/* ------------------------------------------------------------------------- */
/*  flexslider : resets
/* ------------------------------------ */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}
.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
/*  flexslider : necessary styles
/* ------------------------------------ */
.flexslider {
  margin: 0;
  padding: 0;
}
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.flex-pauseplay span {
  text-transform: capitalize;
}
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html {
  -webkit-font-smoothing: antialiased;
  /* safari font rendering issue fix */
}
html[xmlns] .slides {
  display: block;
}
* html .slides {
  height: 1%;
}
.no-js .slides > li:first-child {
  display: block;
}
/*  flexslider : default theme
/* ------------------------------------ */
.flexslider {
  margin: 0 0 60px;
  position: relative;
  zoom: 1;
}
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}
.loading .flex-viewport {
  max-height: 300px;
}
.flexslider .slides {
  zoom: 1;
}
.flexslider .slides > li {
  position: relative;
}
.carousel li {
  margin-right: 5px;
}
/* direction nav */
.flex-direction-nav {
  *height: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
}
.flex-direction-nav li {
  float: left;
  margin-left: 4px;
}
.flex-direction-nav li:first-child {
  float: left;
}
.flex-direction-nav li:last-child {
  float: right;
}
.flex-direction-nav a {
  background: rgba(0, 0, 0, 0.7);
  opacity: 0.6;
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 0 0;
  display: block;
  cursor: pointer;
  text-indent: -999px;
  overflow: hidden;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.flexslider:hover .flex-next,
.flexslider:hover .flex-prev {
  opacity: 0.8;
}
.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
  opacity: 1;
}
.flex-direction-nav .flex-disabled {
  opacity: .3!important;
  filter: alpha(opacity=30);
  cursor: default;
}
/* direction nav arrows */
.flex-direction-nav a:before {
  font-family: FontAwesome;
  font-size: 20px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 9px;
  text-indent: 0;
}
.flex-direction-nav .flex-next:before {
  content: "\f054";
}
.flex-direction-nav .flex-prev:before {
  content: "\f053";
}
/* control nav */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -30px;
  text-align: center;
}
.flex-control-nav li {
  margin: 0 3px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.flex-control-nav li a {
  background: rgba(0, 0, 0, 0.15);
  width: 10px;
  height: 10px;
  display: block;
  cursor: pointer;
  text-indent: -999px;
  overflow: hidden;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.flex-control-nav li a:hover {
  background: rgba(0, 0, 0, 0.15);
}
.flex-control-nav li a.flex-active {
  background: rgba(0, 0, 0, 0.25);
  cursor: default;
}
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}
.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer;
}
.flex-control-thumbs img:hover {
  opacity: 1;
}
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: .7;
    right: 0;
  }
  .flex-direction-nav .flex-next {
    opacity: .7;
    right: 0;
  }
}
/* ------------------------------------------------------------------------- *
 *  Shortcodes
/* ------------------------------------------------------------------------- */
/*  shortcode : dropcap
/* ------------------------------------ */
.dropcap {
  color: #444444;
  display: block;
  float: left;
  font-size: 94px;
  line-height: 0.9em;
  font-weight: 600;
  margin: 0 10px 0 0;
}
/*  shortcode : pullquotes
/* ------------------------------------ */
.pullquote-left {
  color: #444444;
  border-left: 6px solid #eeeeee;
  float: left;
  margin: 0.78em 1em 0.78em 0;
  padding: 0 0 0 20px;
  font-weight: 600;
  width: 40%;
}
.pullquote-right {
  color: #444444;
  border-right: 6px solid #eeeeee;
  float: right;
  margin: 0.78em 0 0.78em 1em;
  padding: 0 20px 0 0;
  font-weight: 600;
  width: 40%;
}
/*  shortcode : highlights
/* ------------------------------------ */
.highlight {
  color: #221122;
  border-bottom: 1px dotted #221122;
}
/*  shortcode : hr
/* ------------------------------------ */
hr,
.hr {
  border: 0;
  background: #eeeeee;
  border-bottom: 2px solid #eeeeee;
  height: 1px;
  margin: 30px 0;
}
/* ------------------------------------------------------------------------- *
 *  IE Fixes
/* ------------------------------------------------------------------------- */
body.ie8,
.ie8.single .related-posts .post-title,
.ie8 .s1 .alx-posts .post-item-title,
.ie8 #footer .alx-posts .post-item-title {
  font-weight: 400;
}
.ie8 .author-bio .bio-avatar:after,
.ie8 .commentlist li.bypostauthor > .comment-body:after {
  display: none;
}
.ie8 .nav li > a:after {
  content: "" !important;
}
.ie8 .nav > li > a:after {
  content: "" !important;
}
.ie8 #nav-topbar .nav > li > a:hover,
.ie8 #nav-topbar .nav > li:hover > a,
.ie8 #nav-header .nav > li > a:hover,
.ie8 #nav-header .nav > li:hover > a,
.ie8 .toggle-search:hover,
.ie8 .toggle-search.active,
.ie8 .search-expand-inner {
  background: url(img/opacity-10.png);
}
.ie8 .thumb-icon,
.ie8 .image-caption,
.ie8 .page-image-text .description i,
.ie8 .flex-direction-nav a {
  background: url(img/ie/opacity-70.png);
}
.ie8 .entry .gallery .gallery-caption {
  background: url(img/ie/opacity-80-light.png);
}
